@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@layer base {
  body {
    overflow-x: hidden;
    @apply font-kids;
    /* Apply the custom font */
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wiggle:hover {
  animation: wiggle 0.5s ease-in-out;
}


@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }

  .navbar__link:hover {
    color: #F28C28;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #F28C28;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .custom-slider-container {
    height: 600px;
    /* Set the height to your desired value */
    overflow: hidden;
    /* Ensure any overflowing content is hidden */
    align-items: center;
  }

  .custom-slider-container .slide img {
    height: 100%;
    width: auto;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
  }

}